In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
list(enumerate(train.columns))

[(0, 'id'),
 (1, 'vendor_id'),
 (2, 'pickup_datetime'),
 (3, 'dropoff_datetime'),
 (4, 'passenger_count'),
 (5, 'pickup_longitude'),
 (6, 'pickup_latitude'),
 (7, 'dropoff_longitude'),
 (8, 'dropoff_latitude'),
 (9, 'store_and_fwd_flag'),
 (10, 'trip_duration')]

In [4]:
list(enumerate(test.columns))

[(0, 'id'),
 (1, 'vendor_id'),
 (2, 'pickup_datetime'),
 (3, 'passenger_count'),
 (4, 'pickup_longitude'),
 (5, 'pickup_latitude'),
 (6, 'dropoff_longitude'),
 (7, 'dropoff_latitude'),
 (8, 'store_and_fwd_flag')]

In [6]:
train.pickup_datetime.min()

'2016-01-01 00:00:17'

In [7]:
train.pickup_datetime.max()

'2016-06-30 23:59:39'

In [8]:
# Need weather data from January through June, 2016

# Use dataset from here = https://www.kaggle.com/mathijs/weather-data-in-new-york-city-2016/data
weather = pd.read_csv('data/weather_data_nyc_centralpark_2016.csv')
weather.head()

,date,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [10]:
len(weather)

366

In [14]:
type(weather.date[0])

str

In [16]:
weather['date'] = pd.to_datetime(weather.date)

In [17]:
weather.date.min()

Timestamp('2016-01-01 00:00:00')

In [18]:
weather.date.max()

Timestamp('2016-12-31 00:00:00')

In [19]:
# first half of the year

from datetime import datetime
weather = weather[weather.date < datetime(2016, 7, 1)]

In [20]:
len(weather)

182